[Unit]
Description=Run Economic Surprise Index every 6 hours

[Timer]
OnCalendar=*-*-* 06,12,18,00:00:00
Persistent=true

[Install]
WantedBy=timers.target
